.container{
    border:solid 1px black;
    width: auto;
    margin: 0 75px;
    text-align: center;
    background-color: #dbe5f2;
    border-radius: 10px;
    border-width: 2px;
    border-color: cornflowerblue;
}