<app-slider-overview (sliderChangeEvent)="changeTime($event)"></app-slider-overview>
<br><br>
<div class="container">
    <div class="containerLeft">
        <app-single-kpi name="Reistijden in grafiek" [options]="traveltimeOptions" style="width: 50%;"></app-single-kpi>
        <app-percentages name="Reistijd vertragingen in tabel" [data]="percentagesData"></app-percentages>
    </div>
    <div class="containerRight">
        <app-emission-kpi name="Totale actuele uitstoot" [optionsTotal]="emisionOptionsTotal"></app-emission-kpi>
        <app-emission-kpi name="Totale uitstoot prognose (10 min.)" [optionsEstimated]="emisionOptionsEstimated">
        </app-emission-kpi>
        <app-emission-kpi id="Emdif" [difference]="emissionDifference">Het verschil is </app-emission-kpi>
    </div>
</div>



<!-- Hier worden een div aangemaakt   die ook in de TS bestanden wordt gevuld-->