.container{
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
font-family: Trebuchet MS,Roboto,Helvetica Neue,sans-serif;
position: relative;
}

.bg-image{
    background-image: url("./bg_map.PNG");
    height: 600px;
    background-size:cover;

}