<app-slider-overview (sliderChangeEvent)="changeTime($event)"></app-slider-overview>
<br><br>
<div class="container">
    <div class="containerLeft">
        <app-single-kpi name="Reistijden in grafiek" [options]="traveltimeOptions" style="width: 50%;"></app-single-kpi>
        <app-percentages name="Reistijd vertragingen in tabel" [data]="percentagesData"></app-percentages>
    </div>
    <div class="containerRight">
        <app-emission-kpi name="Totale actuele uitstoot" [optionsTotal]="emisionOptionsTotal" style="flex-basis: 45%;"></app-emission-kpi>
        <app-emission-kpi name="Totale uitstoot prognose (10 min.)" [optionsEstimated]="emisionOptionsEstimated"></app-emission-kpi>
        <app-emission-difference [difference]="emissionDifference"></app-emission-difference>
    </div>
</div>


