.container{
    border:solid 1px black;
    width: auto;
    margin: 50px 10px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    min-width: 250px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

