/* .container {
    border:solid 1px black;
    width: 90%;
    margin: 50px 20px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    min-width: 250px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    min-height: 450px;
} */

/* opmaak voor de titel van de tabel */
#titeltabel {
    text-align: center;
    font-family: Trebuchet MS,Roboto,Helvetica Neue,sans-serif;
}
/* opmaak voor de inhoud van de tabel */
.content-table {
    border-collapse: collapse;
    margin: 5px 5px;
    font-size: 0, 9em;
    min-width: 50px;
    border-radius: 5px 5px 3px 3px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    position: relative;
}


/* opmaak voor de koppen van de tabel */
.content-table th {

    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
/* opmaak voor de vakjes */
.content-table td {
    padding: 12px 15px;
    text-align: center;
    padding-bottom: 20px;
    max-width: 50px;
}
/* opmaak voor de body */
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}







