<div class="container">
  <p id="titeltabel">Percentage vertraging op netwerk</p>
  <table class="content-table">
    <tr>
      <th>Reistijd</th>
      <th>{{data[0].route}}</th>
      <th>{{data[1].route}}</th>
      <th>{{data[2].route}}</th>
      <th>{{data[3].route}}</th>
      <th>{{data[4].route}}</th>
      <th>{{data[5].route}}</th>

    </tr>

    <tr>

      <td>{{data[0].category[0]}}</td>
      <td>{{data[0].percentage[0]}}%</td>
      <td>{{data[1].percentage[0]}}%</td>
      <td>{{data[2].percentage[0]}}%</td>
      <td>{{data[3].percentage[0]}}%</td>
      <td>{{data[4].percentage[0]}}%</td>
      <td>{{data[5].percentage[0]}}%</td>

    </tr>

    <tr>

      <td>{{data[0].category[1]}}</td>
      <td>{{data[0].percentage[1]}}%</td>
      <td>{{data[1].percentage[1]}}%</td>
      <td>{{data[2].percentage[1]}}%</td>
      <td>{{data[3].percentage[1]}}%</td>
      <td>{{data[4].percentage[1]}}%</td>
      <td>{{data[5].percentage[1]}}%</td>

    </tr>

    <tr>

      <td>{{data[0].category[2]}}</td>
      <td>{{data[0].percentage[2]}}%</td>
      <td>{{data[1].percentage[2]}}%</td>
      <td>{{data[2].percentage[2]}}%</td>
      <td>{{data[3].percentage[2]}}%</td>
      <td>{{data[4].percentage[2]}}%</td>
      <td>{{data[5].percentage[2]}}%</td>


    </tr>

  </table>
</div>